.container {
    position: relative;

    display: flex;
    min-height: 100vh;
}

.wave {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100vw;

    fill: var(--green);
}

.left {
    flex: 0 0 33%;
    padding: 20px;
}

.right {
    flex: 0 0 66%;
}
