.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    border-radius: 20px 20px 0 0;
    border-bottom: 3px solid var(--gray);

    & > img {
        width: 100px;
    }

    .info {
        margin-left: 1.5rem;
        width: 100%;

        & > p {
            color: var(--title);
            font-weight: 600;
            font-size: 1.3rem;
        }

        & > span {
            color: var(--textColor);
            font-weight: 500;
        }
    }
}
