.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    border-radius: 20px 20px 0 0;
    border-bottom: 3px solid var(--gray);
    height: 200px;

    .pic img {
        width: 120px;
    }

    .info {
        margin-left: 1rem;

        & > p {
            color: var(--title);
            font-weight: 600;
            font-size: 1.3rem;
        }

        & > span {
            color: var(--textColor);
            font-weight: 500;
        }
    }
}
