.container {
    display: flex;
    flex-direction: column;
    & > span {
        color: var(--textColor);
        font-weight: 500;
    }
}

.XpContainer {
    overflow: hidden;
    width: 100%;
    height: 10px;
    background: var(--gray);
    border-radius: 10px;
    margin: 0.8rem 0 0.5rem;

    & > div {
        height: 100%;
        border-radius: 10px;
        background: var(--green);
    }
}
