// import fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap");

// variaveis
html {
    --green: #70e000;
    --yellow: #ffe34e;
    --red: #ed3c3c;
    --blue: #1cb0f6;
    --gray: #e2e2e2;
    --textColor: #666666;
    --title: #3c3c3c;
    --background: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--background);
    color: var(--title);
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}
